$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: #4e4e4e;
$grid-font-color: 	#228b22;
$white: #fff;

body {
  background-color: $background-color;
  color: $grid-font-color;
}

h1 {
  color: $white;
}

.box {
  border: 1px solid $white;
  padding: inherit;

}
